<ion-card-content>
  <ion-card style="box-shadow: none">
    <ion-card-header>
      <!--how to change size-->
      <ion-img src="/assets/stations-imgs/baggageclaim.png"></ion-img>

      <div class="ion-text-center">
        <ion-card-title>Baggage Claim</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-content
    ><p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt,
      numquam non dolorum, unde adipisci quasi autem voluptatibus enim
      cupiditate delectus molestias commodi! Nisi nemo necessitatibus velit
      nobis ea! Voluptatibus?
    </p></ion-content
  >
  <ion-button routerLink="/">Stations</ion-button>
</ion-card-content>
