<ion-card-content>
  <ion-card style="box-shadow: none;">
    <ion-card-header>
      <!--how to change size-->
      <ion-img src="/assets/stations-imgs/geolocation.png"></ion-img>

      <div class="ion-text-center">
        <ion-card-title>Stations</ion-card-title>
      </div>
    
    </ion-card-header>
  </ion-card>
</ion-card-content>


<ion-card-content>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet" />
  
  <!--BUTTONS-->

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col><ion-button routerLink="/gateareas">Gate Areas</ion-button></ion-col>
      <ion-col><ion-button routerLink="/gateofthefuture">Gate of the Future</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-button routerLink="/baggageclaim">Baggage Claim</ion-button></ion-col>
      <ion-col><ion-button routerLink="/baggageoffice">Baggage Office</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-button routerLink="/tsatraffic">TSA Traffic</ion-button></ion-col>
      <ion-col><ion-button routerLink="/ticketlobby">Ticket Lobby</ion-button></ion-col>     
    </ion-row>
  </ion-grid>
</ion-card-content>